{% extends "partials/conteneur.html" %}

{% block body %}
    <h1>La page demandée n'a pas été trouvée</h1>

    <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://i.pinimg.com/564x/ef/e1/a5/efe1a552d6d532f72b7d8013405611d3.jpg" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://i.pinimg.com/564x/ef/e1/a5/efe1a552d6d532f72b7d8013405611d3.jpg">via Pinterest</a></p>
    
{% endblock %}