{% extends "partials/conteneur.html" %}

{% block body %}
<div class="container">
    <h1>Bienvenue sur le site de <b>Polluradar</b> !</h1>
    <p>L’objectif de l’application est de permettre aux utilisateurs de chercher les établissements 
        industriels rejetant des polluants autour d’un lieu donné (ville + département), la recherche 
        renvoie une carte avec des ronds de couleurs (en fonction de la dangerosité des polluants rejetés)
         et chaque rond est cliquable et renvoie à une fiche plus détaillée concernant l’entreprise, le type de polluants, le milieu pollué.</p>
</div>
{% endblock %}