{% extends "partials/conteneur.html" %}

{% block body %}

<div class="container">
    <h1>Graphique</h1>
</div>
<canvas id="graphique" style="width: 1200px;"></canvas>

<script>
    const ctx = document.getElementById('graphique').getContext('2d');

    var gradient = ctx.createLinearGradient(0, 0, 600, 0);
    gradient.addColorStop(0, 'rgba(255, 0, 0, 0)'); // Couleur de départ (rouge avec transparence)
    gradient.addColorStop(1, 'rgba(255, 0, 0, 0.9)'); // Couleur de fin (rouge plus foncé avec transparence)


    // Création du graphique
    var graphique = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
            label: "Pourcentage d’établissements rejetant des polluants par secteur d’activité, à l'échelle nationale",
            data: [],
            backgroundColor: gradient,
            borderWidth: 1, // Largeur de la bordure des barres
            borderColor: 'rgba(255, 0, 0, 1)', // Couleur de la bordure des barres (rouge)
        }]
        },
        options: {
            indexAxis: 'y',
            elements: {
            bar: {
                borderWidth: 2,
            }
            },
            layout: {
                margin: {
                    left: 20,
                    right: 20,
                    top: 20,
                    bottom: 20
                }
            },
            responsive: true,
            plugins: {
                legend: {
                    display: true,
                    position: 'right', // Position de la légende (peut être 'top', 'bottom', 'left' ou 'right')
                    labels: {
                        boxWidth: 20, // Largeur de la boîte de la légende
                        fontSize: 8, // Taille de la police de la légende
                        title: {
                            display: true,
                            text: "Pourcentage d’établissements rejetant des polluants par secteur d’activité, à l'échelle nationale'"
                        }        
                    }
                }
            }
        }
    });

    fetch('{{url_for("graph1_donnees")}}')
    .then((response) => {
        return response.json();
    })
    .then((data) => {
        // Calcul des secteurs et pourcentages
        var secteurs = [];
        var pourcentage = [];

        // Itération sur le retour de l'URL graph1_donnees
        for (var i = 0; i < data.length; i++) {
            // Comme en Python, on remplit ici les tableaux
            secteurs.push(data[i]["secteur"]);
            pourcentage.push(data[i]["pourcentage"]);
        }
        
        // Mise à jour des données du graphique
        graphique.data.labels = secteurs;
        graphique.data.datasets[0].data = pourcentage;

        // Mise à jour du graphique une fois les données calculées et insérées dans le graphique
        graphique.update();
    });
</script>

{% endblock %}