{% extends "partials/conteneur.html" %}

{% block body %}

<div class="container">
    <h1>Liste de l'ensemble des polluants</h1>
    <br>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                {%if donnees.prev_num %}
                <a class="list-group-item list-group-item-action" id="list-list-prev" 
                     href="{{ url_for('polluants', page=donnees.prev_num) }}" class="btn btn-outline-dark 
                    {% if donnees.page == 1 %}disabled{% endif %}">
                        &laquo;
                </a>
                {% endif %}
                <!-- Liste des polluants -->
                {% for polluant in donnees.items %}
                {% if (donnees.items).index(polluant) == 0 %}
                <a class="list-group-item list-group-item-action active" id="list-{{polluant.id}}-list" data-toggle="list"
                    href="#list-{{polluant.id}}" role="tab" aria-controls="{{polluant.id}}">{{polluant.nom}}</a>
                {% else %}
                <a class="list-group-item list-group-item-action" id="list-{{polluant.id}}-list" data-toggle="list"
                    href="#list-{{polluant.id}}" role="tab" aria-controls="{{polluant.id}}">{{polluant.nom}}</a>
                {% endif %}
                {% endfor %}

                {%if donnees.next_num %}
                <a class="list-group-item list-group-item-action" id="list-list-next" 
                    href="{{ url_for('polluants', page=donnees.next_num) }}" class="btn btn-outline-dark 
                        {% if donnees.page == donnees.pages %}disabled{% endif %}">
                    &raquo;
                </a>
                {% endif %}
            </div>
        </div>
        <!-- Colonne pour afficher les informations sur le polluant sélectionné -->
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <!-- Boucle pour chaque polluant -->
                {% for polluant in donnees.items %}
                {% if (donnees.items).index(polluant) == 0 %}
                <!-- Onglet actif pour le premier polluant -->
                <div class="tab-pane fade show active" id="list-{{polluant.id}}" role="tabpanel"
                    aria-labelledby="list-{{polluant.id}}-list">
                    <ul>
                    <!-- Lien pour télécharger la fiche INRS -->
                    <li><a class="css_links" href="{{polluant.fiche_inrs}}">Télécharger la fiche INRS du {{polluant.nom}}</a></li>
                    <br>
                    <!-- Lien pour voir les établissements rejetant ce polluant -->
                    <li><a class="css_links" href="{{ url_for('un_polluant', nom_polluant=polluant.nom) }}"> Voir les {{donnees_generales[polluant.nom] | length}} établissement rejetant du {{polluant.nom}}</a></li>
                </ul>
                </div>
                {% else %}
                <!-- Onglet pour les autres polluants -->
                <div class="tab-pane fade " id="list-{{polluant.id}}" role="tabpanel"
                    aria-labelledby="list-{{polluant.id}}-list">
                    <ul>
                    <li><a class="css_links" href="{{polluant.fiche_inrs}}">Télécharger la fiche INRS du {{polluant.nom}}</a></li>
                    <br>
                    <li><a class="css_links" href="{{ url_for('un_polluant', nom_polluant=polluant.nom) }}"> Voir les {{donnees_generales[polluant.nom] | length}} établissement rejetant du {{polluant.nom}}</a></li>
                </ul>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">
        <a href="{{ url_for('polluants', page=donnees.prev_num) }}" class="btn btn-outline-dark 
               {% if donnees.page == 1 %}disabled{% endif %}">
            &laquo;
        </a>
        {% for page_num in donnees.iter_pages() %}
        {% if page_num %}
        {% if donnees.page == page_num %}
        <a href="{{ url_for('polluants', page=page_num) }}" class="btn btn-dark">
            {{ page_num }}
        </a>
        {% else %}
        <a href="{{ url_for('polluants', page=page_num) }}" class="btn btn-outline-dark">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}
        <a href="{{ url_for('polluants', page=donnees.next_num) }}" class="btn btn-outline-dark 
               {% if donnees.page == donnees.pages %}disabled{% endif %}">
            &raquo;
        </a>
    </div>
    <div class="col-sm-3"></div>
</div>
</div>


{% endblock %}