{% extends "partials/conteneur.html" %}

{% block body %}

<div class="container">
    <h1>Liste exhaustive de l'ensemble des établissements rejetant du {{sous_titre}}</h1>
    <br>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <!-- Boucle pour afficher chaque établissement comme un élément de la liste -->
                {% for etablissement in donnees.items %}
                <!-- Élément de la liste avec un lien pour afficher les détails -->
               <a class="list-group-item list-group-item-action {% if loop.first %}active{% endif %}" id="list-{{etablissement.id}}-list" data-toggle="list"
                    href="#list-{{etablissement.id}}" role="tab" aria-controls="{{etablissement.id}}">{{etablissement.nom}}</a>
                {% endfor %}
            </div>
        </div>
        <!-- Colonne pour afficher les détails de l'établissement sélectionné -->
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <!-- Boucle pour afficher les détails de chaque établissement dans un onglet -->
                {% for etablissement in donnees.items %}
                <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="list-{{etablissement.id}}" role="tabpanel"
                    aria-labelledby="list-{{etablissement.id}}-list">
                    <!-- Lien pour afficher les données détaillées de l'établissement -->
                    <a class="css_links" href="{{ url_for('un_etablissement', nom_etablissement=etablissement.nom) }}"> Voir les données de {{etablissement.nom}}</a>
                    <br>
                    <!-- Affichage de la commune de l'établissement -->
                    {{etablissement.commune}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
{% if donnees.has_prev or donnees.has_next %}
<div class="container mt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if donnees.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('un_polluant', nom_polluant=sous_titre, page=donnees.prev_num) }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for page_num in donnees.iter_pages() %}
            {% if page_num %}
            <li class="page-item {% if page_num == donnees.page %}active{% endif %}">
                <a class="btn" href="{{ url_for('un_polluant', nom_polluant=sous_titre, page=page_num) }}">{{ page_num }}</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
            {% endfor %}

            {% if donnees.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('un_polluant', nom_polluant=sous_titre, page=donnees.next_num) }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}

{% endblock %}
