{% extends "partials/conteneur.html" %}

{% block title %}
    Résultats de la recherche des établissements
{% endblock %}

{% block body %}
    <h1>Résultats de la recherche  <i>{{requete}}</i></h1>
    
    {% if donnees %}
        <p>Nombre total d'établissements trouvés : {{ donnees.total }}</p>
        <div style="margin-bottom: 50px;">
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for etablissement in donnees.items %}
                    <a class="list-group-item list-group-item-action {% if loop.first %}active{% endif %}" id="list-{{etablissement.id}}-list" data-toggle="list"
                        href="#list-{{etablissement.id}}" role="tab" aria-controls="{{etablissement.id}}">{{etablissement.nom}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    {% for etablissement in donnees.items %}
                    <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="list-{{etablissement.id}}" role="tabpanel"
                        aria-labelledby="list-{{etablissement.id}}-list">
                        <a class="css_links" href="{{ url_for('un_etablissement', nom_etablissement=etablissement.nom) }}"> Voir les données de {{etablissement.nom}}</a>
                        <br>
                        Commune : {{etablissement.commune}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        
        
        {% if donnees.has_prev %}
            <a href="{{ url_for('recherche_rapide', page=donnees.prev_num, chaine=requete) }}">Page précédente</a>
        {% endif %}
        
        {% if donnees.has_next %}
            <a href="{{ url_for('recherche_rapide', page=donnees.next_num, chaine=requete) }}">Page suivante</a>
        {% endif %}
        
    </div>
    {% else %}
        <p>Aucun établissement trouvé pour la commune "{{ requete }}".</p>
    {% endif %}
    
</div>
{% endblock %}


